<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      
        <binding name="BarcodeSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="716800" maxBufferPoolSize="524288" maxReceivedMessageSize="716800"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>


        <binding name="MasterDataBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TrackingBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="716800" maxBufferPoolSize="524288" maxReceivedMessageSize="716800"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="716800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="wsws_soap_api_v3Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="7168000" maxBufferPoolSize="524288" maxReceivedMessageSize="7168000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- BarCode WebService -->
      <endpoint address="https://www.mypostbusiness.ch/wsbc/barcode/v2_0"
          binding="basicHttpBinding" bindingConfiguration="BarcodeSoapBinding"
          contract="PostBarCodeService.BarcodePortType" name="BarcodePort" />
      
      <!-- Track&Trace WebService -->
      <endpoint address="https://www.mypostbusiness.ch/EasyTrackWS/services/MasterData.ws"
          binding="basicHttpBinding" bindingConfiguration="MasterDataBinding"
          contract="Data.MasterDataResource" name="MasterDataPort" />
      <endpoint address="https://www.mypostbusiness.ch/EasyTrackWS/services/TrackAndTraceDFU.ws"
          binding="basicHttpBinding" bindingConfiguration="TrackingBinding"
          contract="Tracking.TrackAndTraceDFUWSPort" name="TrackAndTraceDFUWSPort" />

      <!-- WebStamp WebService -->
        <endpoint address="https://wspartner.ssoint.post.ch/business/soap_v3/literal/user/" binding="basicHttpBinding" bindingConfiguration="wsws_soap_api_v3Binding" contract="SwissPostWebStamp.wsws_soap_api_v3Port" name="wsws_soap_api_v3PortTest"/>
        <endpoint address="https://ws.ssoint.post.ch/business/soap_v3/literal/user/" binding="basicHttpBinding" bindingConfiguration="wsws_soap_api_v3Binding" contract="SwissPostWebStamp.wsws_soap_api_v3Port" name="wsws_soap_api_v3PortTest2"/>
        <endpoint address="https://ws.sso.post.ch/business/soap_v3/literal/user/" binding="basicHttpBinding" bindingConfiguration="wsws_soap_api_v3Binding" contract="SwissPostWebStamp.wsws_soap_api_v3Port" name="wsws_soap_api_v3Port"/>
      </client>
  </system.serviceModel>
</configuration>