[submodule "Epsitec.TwixClip"]
	path = Epsitec.TwixClip
	url = ../../cresus-dotnet/twixclip.git
	branch = master
[submodule "Epsitec.SwissPost"]
	path = Epsitec.SwissPost
	url = ../../cresus-dotnet/swisspost.git
	branch = master
