<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecuritySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchAddressSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secure.directories.ch/administration/v4/security.asmx"
                binding="basicHttpBinding" bindingConfiguration="SecuritySoap"
                contract="Epsitec.Data.Platform.ServiceReference.Directories.Security.SecuritySoap"
                name="SecuritySoap" />
            <endpoint address="http://service.directories.ch/search/v4/searchaddress.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchAddressSoap"
                contract="Epsitec.Data.Platform.ServiceReference.Directories.SearchAddress.SearchAddressSoap"
                name="SearchAddressSoap" />
        </client>
    </system.serviceModel>
</configuration>