<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecuritySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SecuritySoap1" />
                <binding name="ConfigurationSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ConfigurationSoap1" />
                <binding name="VersionSoap" />
                <binding name="SearchAddressSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://secure.directories.ch/administration/v4/configuration.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConfigurationSoap"
                contract="Directories.Admin.Configuration.ConfigurationSoap"
                name="ConfigurationSoap" />
            <endpoint address="http://service.directories.ch/version/v1/version.asmx"
                binding="basicHttpBinding" bindingConfiguration="VersionSoap"
                contract="Directories.Version.Version.VersionSoap" name="VersionSoap" />
            <endpoint address="http://service.directories.ch/search/v4/searchaddress.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchAddressSoap"
                contract="Directories.Search.SearchAddress.SearchAddressSoap"
                name="SearchAddressSoap" />
            <endpoint address="https://secure.directories.ch/administration/v4/security.asmx"
                binding="basicHttpBinding" bindingConfiguration="SecuritySoap"
                contract="Directories.Admin.Security.SecuritySoap" name="SecuritySoap" />
        </client>
    </system.serviceModel>
</configuration>