<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Epsitec.ModuleRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Epsitec.ModuleRepository.Properties.Settings>
            <setting name="RepositoryPath" serializeAs="String">
                <value>C:\Epsitec\ModuleRepository</value>
            </setting>
            <setting name="RepositoryName" serializeAs="String">
                <value>module-repository.xml</value>
            </setting>
            <setting name="ServiceUrl" serializeAs="String">
                <value>net.tcp://localhost:31415/ModuleRepository</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ModuleRepository</value>
            </setting>
            <setting name="TraceLogPath" serializeAs="String">
                <value>C:\Epsitec\ModuleRepository\server.log</value>
            </setting>
        </Epsitec.ModuleRepository.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
