<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="App.Directories.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="SecuritySoap">
            <security mode="Transport"/>
          </binding>
          <binding name="SearchAddressSoap" maxReceivedMessageSize="100000" maxBufferSize="100000" maxBufferPoolSize="100000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
            <readerQuotas maxDepth="32" maxArrayLength="2000000" maxStringContentLength="2000000"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://secure.directories.ch/administration/v4/security.asmx" binding="basicHttpBinding" bindingConfiguration="SecuritySoap" contract="ServiceReference.Directories.Security.SecuritySoap" name="SecuritySoap"/>
        <endpoint address="http://service.directories.ch/search/v4/searchaddress.asmx" binding="basicHttpBinding" bindingConfiguration="SearchAddressSoap" contract="ServiceReference.Directories.SearchAddress.SearchAddressSoap" name="SearchAddressSoap"/>
      </client>
    </system.serviceModel>
</configuration>
