<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="webCoreAdmin">
<head>
    <meta charset="utf-8" />
    <title>WebCore Admin Console</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" ></script>   
    <script src="/content/WebCoreAdmin.js"></script>
    <script src="/content/WebCoreServices.js"></script>
    <script src="/content/modules/Downloads/module.js"></script>
    <script src="/content/modules/Jobs/module.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebCore - Console d'administration</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h1 class="page-header">Dashboard</h1>
        <div ng-controller="CoreJobs">
            <jobs-view></jobs-view>
        </div>
        <div ng-controller="CoreDownloads">
            <downloads-view></downloads-view>
        </div>
    </div>
</body>
</html>