<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="webCoreAdmin">
<head>
    <meta charset="utf-8" />
    <title>WebCore Admin Console</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" ></script>   
    <script src="/proxy/content/WebCoreAdmin.js"></script>
    <script src="/proxy/content/WebCoreServices.js"></script>
    <script src="/proxy/content/modules/Downloads/module.js"></script>
    <script src="/proxy/content/modules/Jobs/module.js"></script>
</head>
<body>
    <h1>Web Core Admin</h1>
    <div class="row">
        <div class="col-md-4">
            <div ng-controller="CoreJobs">
                <jobs-view></jobs-view>
            </div>
        </div>
        <div class="col-md-4">
            <div ng-controller="CoreDownloads">
                <downloads-view></downloads-view>             
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    
</body>
</html>