html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

.summary {
  padding: 5px;
}

.over-summary .summary {
  background: #F4F4F4;
  cursor: pointer;
}

.selected-entity .summary {
  background: #EBF4FF url('../images/Static/star.png') bottom right no-repeat;
}

.global-warning {
  background: #D1E0F3;
  padding: 5px;
  border: 1px solid #a1b6d2;
}

.icon-add {
  background-image: url('../images/Static/add.png') !important;
}

.icon-remove {
  background-image: url('../images/Static/remove.png') !important;
}

.icon-refresh {
  background-image: url('../images/Static/refresh.png') !important;
}

.icon-sort {
  background-image: url('../images/Static/sort.png') !important;
}

.icon-sort-ascending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-ascending.png') !important;
}

.icon-sort-descending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-descending.png') !important;
}

.icon-filter {
  background-image: url('../images/Static/filter.png') !important;
}

.border-right {
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.border-bottom {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.business-error {
  color: #CC3300;
  background-color: #FFDDDD;
  border-width: 1px;
  border-color: #CC3300;
  border-style: solid;
  padding: 5px;
}
