html, body {
  margin:0;
  padding:0;
  border:0 none;
  overflow:hidden;
  height:100%;
}

.summary {
  padding: 5px;
}

.over-summary .summary {
  background: #f4f4f4;
  cursor: pointer;
}

.selected-entity .summary {
  background: #ebf4ff url('../images/Static/star.png') bottom right no-repeat;
}

.global-warning {
  background: #D1E0F3;
  padding: 5px;
  border: 1px solid #a1b6d2;
}

.icon-add {
  background-image: url('../images/Static/add.png') !important;
}

.icon-remove {
  background-image: url('../images/Static/remove.png') !important;
}

.icon-refresh {
  background-image: url('../images/Static/refresh.png') !important;
}

.border-right {
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.border-bottom {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}
