html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

.tile {
  margin: 0px;
  padding: 5px;
  background-color: #EBF4FF;
}

.tile-over .tile {
  background: #FFE680;
  cursor: pointer;
}

.tile-selected .tile {
  background-color: #FFE680;
  background-image: url('../images/Static/tile-arrow.png');
  background-repeat: no-repeat;
  background-position: 100%, 50%;
}

.left-list {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.menu {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.global-warning {
  background: #D1E0F3;
  padding: 5px;
  border: 1px solid #a1b6d2;
}

.business-error {
  color: #CC3300;
  background-color: #FFDDDD;
  border-width: 1px;
  border-color: #CC3300;
  border-style: solid;
  padding: 5px;
}

.icon-add {
  background-image: url('../images/Static/add.png') !important;
}

.icon-remove {
  background-image: url('../images/Static/remove.png') !important;
}

.icon-refresh {
  background-image: url('../images/Static/refresh.png') !important;
}

.icon-sort {
  background-image: url('../images/Static/sort.png') !important;
}

.icon-filter {
  background-image: url('../images/Static/filter.png') !important;
}

.icon-sort-ascending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-ascending.png') !important;
}

.icon-sort-descending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-descending.png') !important;
}
