<h2 class="sub-header">Downloads</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Fichier</th>
            <th>Taille (KBytes)</th>
            <th><input type="button" value="Mise à jour" ng-click="getDownloads()" /></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in downloads">
            <td>{{ $index }}</td>
            <td>{{ file.Item1 }}</td>
            <td>{{ file.Item2 }}</td>
            <td><button type="button" class="btn btn-default" ng-click="deleteDownload(file.Item1)">Supprimer</button></td>
        </tr>
    </tbody>
</table>