html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
}

#tile-text:hover,#tile-text:active,#tile-text:focus {
  color: #04408c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-image: url('../images/Static/tile-arrow.png');
  background-repeat: no-repeat;
  background-position: 100%, 50%;
  cursor: pointer;
}

div.tile-selected #tile-text:hover {
  color: #000;
  text-shadow: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 100%, 50%;
}


.tile-button {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.x-tile-button-over {
  background-color: rgb(228, 243, 255);
  background-image: -webkit-linear-gradient(top, rgb(228, 243, 255), rgb(217, 237, 255) 48%, rgb(194, 216, 242) 52%, rgb(198, 220, 246));
  background-image: -ms-linear-gradient(top, rgb(228, 243, 255), rgb(217, 237, 255) 48%, rgb(194, 216, 242) 52%, rgb(198, 220, 246));
}

.tile {
  margin: 0px;
  padding: 5px;
  background-color: #EBF4FF;
}

.action {
  margin: 0px;
  padding: 5px;
  background-color: #EBF4FF;
}

.tile-over .tile {
  color: #04408c;
  background-image: url('../images/Static/tile-arrow.png');
  background-repeat: no-repeat;
  background-position: 100%, 50%;
  cursor: pointer;
}

.tile-selected .tile {
  background-color: #FFCC00;
  background-image: url('../images/Static/tile-arrow.png');
  background-repeat: no-repeat;
  background-position: 100%, 50%;
}


.tile-gmaps-header-button {
  display: inline-block;
  background-image: url('../images/Static/icon-google-maps.png');
  height: 14px;
  width: 14px;
  margin: 0;
}

.tile-local-header-button {
  display: inline-block;
  background-image: url('../images/Static/icon-tel-local.png');
  height: 14px;
  width: 14px;
  margin: 0;
}

.grouped-summary-tile {
  margin: 0px;
  background-color: #EBF4FF;
}

.left-list {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.menu {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.global-warning {
  background: #D1E0F3;
  padding: 5px;
  border: 1px solid #a1b6d2;
}

.business-error {
  color: #CC3300;
  background-color: #FFDDDD;
  border-width: 1px;
  border-color: #CC3300;
  border-style: solid;
  padding: 5px;
}

.icon-add {
  background-image: url('../images/Static/add.png') !important;
}

.icon-remove {
  background-image: url('../images/Static/remove.png') !important;
}

.icon-refresh {
  background-image: url('../images/Static/refresh.png') !important;
}

.icon-sort {
  background-image: url('../images/Static/sort.png') !important;
}

.icon-filter {
  background-image: url('../images/Static/filter.png') !important;
}

.icon-export {
  background-image: url('../images/Static/export.png') !important;
}

.icon-search {
  background-image: url('../images/Static/search.png') !important;
}

.icon-sort-ascending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-ascending.png') !important;
}

.icon-sort-descending {
  height: 16px;
  width: 16px;
  background-image: url('../images/Static/sort-descending.png') !important;
}

.input-readonly .x-form-field {
  background-color: #EEEEEE;
  color: #444444;
}

.grid-readonly .x-grid-row .x-grid-cell {
  background-color:#EEEEEE;
  border-top-style: none;
  border-bottom-color: #AAAAAA;
  border-bottom-style: solid;
}

.grid-readonly .x-grid-row-alt .x-grid-cell {
  background-color: #DDDDDD;
  border-top-style: none;
  border-bottom-color: #AAAAAA;
  border-bottom-style: solid;
}

.x-form-text, textarea.x-form-field {
  background-image: none;
}

.test-banner {
  background-color: #FFDDDD;
  text-align: center;
  color: #CC3300;
  padding: 5px;
  border-style: solid;
  border-color: #CC3300;
}

.test-banner-top {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.form-field-label-top {
  margin-bottom: 3px;
}
