<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseProvider"	value="Firebird"/>
    <add key="DatabaseSource"	value="cresus"/>
    <add key="DatabaseServer"	value="localhost"/>
    <add key="DatabaseUserName"	value="sysdba"/>
    <add key="DatabaseUserPass"	value="masterkey"/>
  </appSettings>
</configuration>
