<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DatabaseProvider" value="Firebird"/>
		<add key="DatabaseSource" value="cresus"/>
		<add key="DatabaseServer" value="localhost"/>
		<add key="DatabaseUserName" value="sysdba"/>
		<add key="DatabaseUserPass" value="masterkey"/>
	</appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
